<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" style="margin-bottom: 50px;">
    <!-- <div class="detailsContDiv">
        <ul class="detailsCont detailsContDianzan">
            <li *ngFor="let item of data">
                <div class="a"><img [src]="item.headimgurl || headImg" alt="" /></div>
                <div class="b">
                    <div class="b1">{{item.circleName}}</div>
                    <div class="b2">
                        <div class="pl">点赞了此资源</div>
                        <div class="time">{{item.create_time}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->

    <ul class="detailsCont detailsContFenxiang ">
        <li *ngFor="let item of data">
            <div class="a"><img [src]="item.headimgurl || headImg"  alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">{{item.circleName}}</div>
                    <div class="jb">获得<span>{{item.pirce}}</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">{{item.create_time | formattime}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>