<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" style="margin-bottom: 50px;">
    <!-- <div class="detailsContDiv">
        <ul class="detailsCont detailsContDianzan">
            <li *ngFor="let item of data">
                <div class="a"><img [src]="item.headimgurl || headImg" alt="" /></div>
                <div class="b">
                    <div class="b1">{{item.circleName}}</div>
                    <div class="b2">
                        <div class="pl">点赞了此资源</div>
                        <div class="time">{{item.create_time}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->

    <ul class="detailsCont detailsContDianzan">
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">转存---小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
    </ul>
</div>