<loading [isshow]="loading"></loading>

<!-- dropload [options]="2" (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" -->
<div style="background: #fff; padding: 1rem 0.4rem;">
    <div class="circleQAlistA" style="margin:0;">
        <p>用户想要发布圈子分享，首先需要用户拥有自己的圈子或者加入了别人的圈子。</p>
        <p>发布时，用户进入到“发现”模块，点击界面正下方的“+”，然后选择发布分享。</p>
        <img src="assets/images/introduceImg/rhimg01.png" alt="">
        <p>用户进入到视频发布界面，编写标题描述，选择需要上传发布的视频（视频可以选择手机本地视频也可以选择设备空间上的视频），选择要发布到哪个圈子后点击发布即可发布。</p>
        <img src="assets/images/introduceImg/rhimg02.png" alt="">
        <img src="assets/images/introduceImg/rhimg03.png" alt="">
    </div>
</div>