<loading [isshow]="loading"></loading>

<!-- dropload [options]="2" (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" -->
<div style="background: #fff; padding: 1rem 0.4rem;">
    <div class="circleQAlistA" style="margin:0;">
        <p>当您拥有了属于自己的圈子后，想朋友加入到你的圈子，您可以这样操作。</p>
        <p>由于我们的圈子是一个私密的圈子文化，你会拥有一个圈子的唯一身份邀请码，您可以在“发现”——>“我的主页”——>“分享邀请码”，将邀请码发给朋友</p>
        <img src="assets/images/introduceImg/rhyjImg01.jpg" alt="">
        <img src="assets/images/introduceImg/rhyjImg02.png" alt="">
        <img src="assets/images/introduceImg/rhyjImg03.png" alt="">
        <p>朋友获得你的邀请码之后，通过口袋存储APP申请加入圈子，输入你的邀请码，就会发出入圈申请，作为圈主就会收到申请通知。</p>
        <img src="assets/images/introduceImg/rhyjImg04.jpg" alt="">
        <img src="assets/images/introduceImg/rhyjImg05.jpg" alt="">
        <p>审核时，圈主可以选择申请加入圈子用户的权限，审核通过后，朋友即加入了你的圈子。</p>
    </div>
</div>