<!-- 最新发布 -->
<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
    <div class="contDiv" >
        <ul class="bofanglist-list video-list history-list">
            <li (click)="videoClick(item)" *ngFor="let item of data;">
                <div class="bofanglist-img">
                    <img #vimg [src]="videoImg | imagelazyload:vimg:item.videoImage" alt="" />
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="bofanglist-text-vcenter">
                        <img [src]="item.headimgurl || headImg" alt="">
                        <p>{{item.nickname}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>