<div class="contDivOutside">
    <div class="tab-list">
        <p>主页动态</p>
        <ul>
            <li class="on">最新发布</li>
            <li>最多评论</li>
            <li>最多分享</li>
        </ul>
    </div>
    <!-- 最新发布 -->
    <div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
        <div class="contDiv" >
            <ul class="bofanglist-list video-list history-list">
                <li (click)="videoClick(item)" *ngFor="let item of data;">
                    <div class="bofanglist-img">
                        <img #vimg [src]="videoImg | imagelazyload:vimg:item.videoImage" alt="" />
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            <p>日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！</p>
                        </div>
                        <div class="bofanglist-text-vcenter">
                            <img [src]="item.headimgurl || headImg" alt="">
                            <p>{{item.nickname}}私密圈</p>
                        </div>
                        <div class="bofanglist-text-bottom">
                            <div (click)="menuBtn($event,menuele)" class="rbtn"></div>
                            <div #menuele class="tip_operlist" >
                                <ul>
                                    <!-- <li (click)="addFolder($event,item)" [class.disabled]="!!item.filesId">加入列表</li>
                                    <li (click)="addRecommend($event,item)" [class.disabled]="+item.type===0">申请加精</li>
                                    <li (click)="changeShowStatus($event,item)">{{+item.isshow === 0 ? '仅自己可见' : '公开' }}</li> -->
                                    <li (click)="delItem($event,item)">删除</li>
                                    <!-- <li class="disabled">加入列表</li> -->
                                    <!-- <li class="active">仅自己可见</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- <li>
                    <div class="bofanglist-img">
                        <img src="assets/images/listimg.jpg" alt="">
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            <p>日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！</p>
                        </div>
                        <div class="bofanglist-text-vcenter">
                            <p>日出-我的圈子 > 晓晓私密圈</p>
                        </div>
                        <div class="bofanglist-text-bottom">
                            <div class="rbtn"></div>
                        </div>
                    </div>
                </li> -->
                <!-- <li>
                    <div class="bofanglist-img">
                        <img src="assets/images/listimg.jpg" alt="">
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            <p>日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！</p>
                        </div>
                        <div class="bofanglist-text-vcenter">
                            <p>日出-我的圈子 > 晓晓私密圈</p>
                        </div>
                        <div class="bofanglist-text-bottom">
                            <div class="rbtn"></div>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>