
<div #menuele (click)="menuele.style.display='none'" class="tip_operlist" style="display: none;">
    <ul>
        <li (click)="addRecommend($event)" [class.disabled]="currentItem && +currentItem.type===0">申请加精</li>
        <li (click)="delItem($event)">删除</li>
    </ul>
</div>

<!-- 删除提示弹框 -->
<div class="pop-mask" *ngIf="deleteTip">
    <div class="editpop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                删除提示
            </div>
            <div (click)="deleteTip=false;" class="rbtn"></div>
        </div>
        <div class="delpoptext">
            确认删除吗?
        </div>
        <div class="choosepop-btn">
            <div (click)="deleteTip=false;" class="a">取消</div>
            <div (click)="delectCircle();deleteTip=false;" class="b">确定</div>
        </div>
    </div>
</div>

<!-- 最新发布 -->
<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
    <div class="contDiv" >
        <ul class="bofanglist-list video-list history-list">
            <li *ngFor="let item of data | datadeleteitem:delcount;">
                <div (click)="videoClick(item)" class="bofanglist-img">
                    <img #vimg [src]="videoImg | imagelazyload:vimg:item.videoImage" alt="" />
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="bofanglist-text-vcenter">
                        <img [src]="item.headimgurl || headImg" alt="">
                        <p>{{item.nickname}}</p>
                    </div>
                    <div class="bofanglist-text-bottom">
                        <div (click)="menuBtn($event,menuele,item)" class="rbtn"></div>
                        <!-- <div #menuele class="tip_operlist" >
                            <ul>
                                <li (click)="addRecommend($event,item)" [class.disabled]="+item.type===0">申请加精</li>
                                <li (click)="delItem($event,item)">删除</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>