<loading [isshow]="loading"></loading>
<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>

<div class="authorInfo gerenbg">

    <p class="a"><img [src]="detail?.headimgurl || headImg" alt=""></p>
    <p (click)="editModel=true;" class="b">{{detail?.circleName}}<span></span></p>
    <div class="c">
        <p>资源 {{detail?.resourceNum}}</p>
        <p>分享 {{detail?.shareNum}}</p>
        <p>下载 {{detail?.downLoad}}</p>
    </div>

</div>

<!-- 基本信息 -->
<div class="contDiv2">
    <ul class="geren-list">
        <li (click)="showqa(1)">
            <div class="geren-list-c a"></div>
            <div class="geren-list-l">
                什么是圈子
            </div>
            <div class="geren-list-r"></div>
        </li>
        <li (click)="showqa(2)">
            <div class="geren-list-c b"></div>
            <div class="geren-list-l">
                如何建立圈子
            </div>
            <div class="geren-list-r"></div>
        </li>
        <li (click)="showqa(3)">
            <div class="geren-list-c c"></div>
            <div class="geren-list-l">
                如何邀请别人加入圈子
            </div>
            <div class="geren-list-r"></div>
        </li>
        <li (click)="showqa(4)">
            <div class="geren-list-c d"></div>
            <div class="geren-list-l">
                如何赚金币
            </div>
            <div class="geren-list-r"></div>
        </li>
        <li (click)="showqa(5)">
            <div class="geren-list-c e"></div>
            <div class="geren-list-l">
                如何分享
            </div>
            <div class="geren-list-r"></div>
        </li>
    </ul>
</div>

<!-- 修改昵称弹框 -->
<div class="pop-mask" *ngIf="editModel" >
    <div class="editpop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                修改昵称
            </div>
            <div class="rbtn" (click)="editModel=false;"></div>
        </div>
        <div class="forminput"><input type="text" [(ngModel)]="detail.circleName" placeholder="请输入2-16个字符的昵称"></div>
        <div class="choosepop-btn">
            <div class="a" (click)="editModel=false;">取消</div>
            <div class="b" (click)="updateCircleMine();">确定</div>
        </div>
    </div>
</div>