<loading [isshow]="loading"></loading>

<div class="authorInfo">
    <p class="a"><img [src]="detail?.headimgurl || headImg" alt=""></p>
    <p class="b">{{detail?.circleName}}的圈子</p>
    <div class="c">
        <p>圈友 560</p>
        <p>资源 {{detail?.resourceNum}}</p>
    </div>
</div>
<!-- 没权限时 -->
<div class="contDivOutside">
    <div class="tab-list">
        <p>主页动态</p>
        <ul>
            <li class="on">最新发布</li>
            <li>最多评论</li>
            <li>最多分享</li>
        </ul>
    </div>
    <!-- 最新发布 -->
    <div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
        <div class="contDiv" >
            <ul class="bofanglist-list video-list history-list">
                <li (click)="videoClick(item)" *ngFor="let item of data;">
                    <div class="bofanglist-img">
                        <img #vimg [src]="videoImg | imagelazyload:vimg:item.videoImage" alt="" />
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            <p>日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！</p>
                        </div>
                        <div class="bofanglist-text-vcenter">
                            <img [src]="item.headimgurl || headImg" alt="">
                            <p>{{item.nickname}}私密圈</p>
                        </div>
                        <div class="bofanglist-text-bottom">
                            <div (click)="menuBtn($event,menuele)" class="rbtn"></div>
                            <div #menuele class="tip_operlist" >
                                <ul>
                                    <!-- <li (click)="addFolder($event,item)" [class.disabled]="!!item.filesId">加入列表</li>
                                    <li (click)="addRecommend($event,item)" [class.disabled]="+item.type===0">申请加精</li>
                                    <li (click)="changeShowStatus($event,item)">{{+item.isshow === 0 ? '仅自己可见' : '公开' }}</li> -->
                                    <li (click)="delItem($event,item)">删除</li>
                                    <!-- <li class="disabled">加入列表</li> -->
                                    <!-- <li class="active">仅自己可见</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- <li>
                    <div class="bofanglist-img">
                        <img src="assets/images/listimg.jpg" alt="">
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            <p>日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！</p>
                        </div>
                        <div class="bofanglist-text-vcenter">
                            <p>日出-我的圈子 > 晓晓私密圈</p>
                        </div>
                        <div class="bofanglist-text-bottom">
                            <div class="rbtn"></div>
                        </div>
                    </div>
                </li> -->
                <!-- <li>
                    <div class="bofanglist-img">
                        <img src="assets/images/listimg.jpg" alt="">
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            <p>日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！</p>
                        </div>
                        <div class="bofanglist-text-vcenter">
                            <p>日出-我的圈子 > 晓晓私密圈</p>
                        </div>
                        <div class="bofanglist-text-bottom">
                            <div class="rbtn"></div>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>

<!-- 退出圈子弹框 -->
<div class="pop-mask" style="display: none;">
    <div class="circleExitpop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                退出圈子
            </div>
            <div class="rbtn"></div>
        </div>
        <div class="circleExitpop-list">
                <label><input type="radio" name="exit" value="1" checked="checked">退出并删除圈子动态</label>
                <label><input type="radio" name="exit" value="2">退出但保留圈子动态</label>
        </div>
        <div class="circleExitpop-btn">
            <div class="a">再想想</div>
            <div class="b">确定</div>
        </div>
    </div>
</div>


<!-- 
<div class="contDivOutside" style="display: none-;">
    <ul class="contTab">
        <li>视频</li>
        <li class="tabDivActive">播放列表</li>
    </ul>
    <div class="contDiv" style="display: none;">
        <ul class="contDiv-list">
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/assets/assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contDiv" style="display: none-;">
        <ul class="bofanglist-list">
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/assets/assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
        </ul>
    </div>
</div> -->
