<!-- <loading [isshow]="loading"></loading> -->

<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>

<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)">
    <div class="contDiv">
        <div (click)="showFolder()" class="chainLink">我的圈子 > <span>晓晓私密圈</span></div>
        <ul class="bofanglist-list video-list history-list">
            <li *ngFor="let item of data;">
                <div class="bofanglist-img">
                    <img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        {{item.title}}
                    </div>
                    <div class="bofanglist-text-bottom">
                        <div (click)="menuBtn($event,menuele)" class="rbtn"></div>
                        <div #menuele class="tip_operlist" >
                            <ul>
                                <li (click)="delBtn($event,item)">删除</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>