<!-- <loading [isshow]="loading"></loading> -->

<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>

<!-- 创建列表弹框 -->
<div class="pop-mask" *ngIf="newPop">
    <div class="circleExitpop joincirclepop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                {{newPopEdit?'重命名列表':'创建列表'}}
            </div>
            <div (click)="closePop()" class="rbtn"></div>
        </div>
        <div class="popcontent-text2">
            <div class="forminput"><input type="text" [(ngModel)]="folderName" placeholder="请输入列表名称"></div>
        </div>
        <div (click)="createFolderBtn()" class="popcontent-btn">{{newPopEdit?'立即修改':'立即创建'}}</div>
    </div>
</div>

<myauthor-play-list2 (changeFolder)="showFolderList()" *ngIf="!isFolder"></myauthor-play-list2>

<div *ngIf="isFolder" dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
    <div class="contDiv" >
        <div class="contDiv">
            <ul class="bofanglist-list">
                <li >
                    <div (click)="createBtn()" class="bofanglist-img">
                        <img src="assets/images/new.png" alt="">
                    </div>
                </li>
                <li (click)="showVideoList()" *ngFor="let item of data;" >
                    <div class="bofanglist-img">
                        <img src="assets/images/listimg.jpg" alt="">
                        <div class="a">
                            <span>{{item.number}}</span>
                            <i></i>
                        </div>
                    </div>
                    <div class="bofanglist-text">
                        <div class="bofanglist-text-top">
                            {{item.filename}}
                        </div>
                        <div class="bofanglist-text-bottom">
                            {{item.number}}视频
                            <div (click)="menuBtn($event,menuele)" class="rbtn"></div>
                            <div #menuele class="tip_operlist" >
                                <ul>
                                    <li (click)="renameBtn($event,item)">重命名</li>
                                    <li (click)="delBtn($event,item)">删除</li>
                                    <!-- <li class="disabled">加入列表</li> -->
                                    <!-- <li class="active">仅自己可见</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</div>