
<!-- <loading [isshow]="loading"></loading> -->
<!-- 
<div class="tip_operlist">
    <ul>
        <li>通过并允许发布</li>
        <li>分享邀请码</li>
        <li class="disabled">加入列表</li>
        <li>申请加精</li>
        <li class="active">仅自己可见</li>
        <li>隐藏</li>
        <li>删除</li>
    </ul>
</div> -->

<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>

<div #menuele (click)="menuele.style.display='none'" class="tip_operlist" style="display: none;">
    <ul>
        <li (click)="addFolderPop($event)" [class.disabled]="currentItem && !!currentItem.filesId">加入列表</li>
        <li (click)="addRecommend($event)" [class.disabled]="currentItem && !(+currentItem.type===0 && currentItem.isforward==0 && currentItem.examineStatus == null)">申请加精</li>
        <li (click)="changeShowStatus($event)" [class.active]="currentItem && +currentItem.isshow === 0" >{{currentItem && +currentItem.isshow === 0 ? '仅自己可见' : '公开' }}</li>
        <li (click)="delItem($event)">删除</li>
    </ul>
</div>

<!-- 加入文件夹弹框 -->
<div class="pop-mask" *ngIf="filePop">
    <div class="choosepop" style="height:auto;">
        <div class="det-sharepop-bt">
            <div class="ltext">
                选择列表
            </div>
            <div class="rbtn"></div>
        </div>
        <div class="choosepop-list">
            <ul>
                <!--  class="on"  -->
                <li #fileli (click)="folderItemClick(fileli,item)" [class.on]="item.checked" *ngFor="let item of fileData;">
                    <div class="a"></div>
                    <div class="b">{{item.filename}}</div>
                    <div class="c"></div>
                </li>
            </ul>
        </div>
        <div class="choosepop-btn">
            <div (click)="closePop()" class="a">取消</div>
            <div (click)="addFolder()" class="b">加入</div>
        </div>
    </div>
</div>

<!-- 删除提示弹框 -->
<div class="pop-mask" *ngIf="deleteTip">
    <div class="editpop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                删除提示
            </div>
            <div (click)="deleteTip=false;" class="rbtn"></div>
        </div>
        <div class="delpoptext">
            确认删除吗?
        </div>
        <div class="choosepop-btn">
            <div (click)="deleteTip=false;" class="a">取消</div>
            <div (click)="delectCircle();deleteTip=false;" class="b">确定</div>
        </div>
    </div>
</div>

<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
	<div class="contDiv" >
        <ul class="bofanglist-list video-list history-list">
            <li *ngFor="let item of data | datadeleteitem:delcount;">
                <div (click)="videoClick(item)" class="bofanglist-img">
                    <img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="bofanglist-text-vcenter">
                        <p>{{item.name}} > {{item.fileName || '未分组'}}</p>
                    </div>
                    <div class="bofanglist-text-bottom">
                        <div (click)="menuBtn($event,menuele,item)" class="rbtn"></div>
                        <!-- <div #menuele class="tip_operlist" >
                            <ul>
                                <li (click)="addFolderPop($event,item)" [class.disabled]="!!item.filesId">加入列表</li>
                                <li (click)="addRecommend($event,item)" [class.disabled]="!(+item.type===0 && item.isforward==0 && item.examineStatus == null)">申请加精</li>
                                <li (click)="changeShowStatus($event,item)">{{+item.isshow === 0 ? '仅自己可见' : '公开' }}</li>
                                <li (click)="delItem($event,item)">删除</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
