
<!-- <loading [isshow]="loading"></loading> -->
<!-- 
<div class="tip_operlist">
    <ul>
        <li>通过并允许发布</li>
        <li>分享邀请码</li>
        <li class="disabled">加入列表</li>
        <li>申请加精</li>
        <li class="active">仅自己可见</li>
        <li>隐藏</li>
        <li>删除</li>
    </ul>
</div> -->

<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
	<div class="contDiv" >
        <ul class="bofanglist-list video-list history-list">
            <li *ngFor="let item of data;">
                <div class="bofanglist-img">
                    <img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="bofanglist-text-vcenter">
                        <p>日出-我的圈子 > 晓晓私密圈</p>
                    </div>
                    <div class="bofanglist-text-bottom">
                        <div (click)="showMenu($event)" class="rbtn"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
