<!-- <loading [isshow]="loading"></loading> -->

<div class="topDiv">
    <div class="topDiv-btnL topDiv-btngb"></div>
    快存私有云
    <div class="topDiv-btnR"></div>
    <!-- <div class="tip_operlist">
        <ul>
            <li>通过并允许发布</li>
            <li>分享邀请码</li>
            <li class="disabled">加入列表</li>
            <li>申请加精</li>
            <li class="active">仅自己可见</li>
            <li>隐藏</li>
            <li>删除</li>
        </ul>
    </div> -->
</div>
<div class="shareimg">
    <p>请点击右上角“...”</p>
    <p>选择“<span>在浏览器打开</span>”</p>
    <div class="c">
        <div class="a"></div>
        <div class="b"></div>
    </div>
</div>