
<loading [isshow]="loading"></loading>
<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>


<!-- <div class="topDiv">
    <div class="topDiv-btnL topDiv-btngb"></div>
    {{detail.title}}
    <div class="topDiv-btnR"></div>
</div> -->

<div class="videoInfo">
    <!-- 第一种情况：视频过大 -->
    <div class="video_large" *ngIf="detail?.isBig == 1" >
        <div class="ltext">
            视频过大，请下载后观看
            <span>{{detail?.video_size}}</span>
            <span>{{detail?.video_len}}</span>
        </div>
        <div class="rbtn"></div>
    </div>
    <video *ngIf="detail?.isBig == 0" autoplay  id="nas_video" [poster]="getVideoImagePath"  [src]="detail?.video_path" type="video/mp4" width="100%" playsinline  height="100%" controls  ></video>
</div>


<div class="videoBt">
    <p>{{detail.title}}</p>
    <div class="a">{{detail.video_size}}<span>{{detail.play_num}}次播放</span></div>
</div>
<div class="managementInfo">
    <div class="managementInfo-a">
        <div class="a"><img [src]="detail?.headimgurl || headImg" alt=""></div>
        <div class="b">
            <p class="b1">{{detail.name}}</p>
            <p class="b2">资源 {{detail.pubsum}}</p>
            <!-- <span>圈主</span> -->
        </div>
        <!-- <div class="c">{{detail.isAdd == 0 ? '已加入圈子' : (detail.isAdd == 1 ? '+ 未加入' : (detail.isAdd == 2 ? '待审核' : '我的圈子')) }}</div> -->
        <div *ngIf="!detail.isAdmin" class="c">{{(detail.isAdd == 0 ? '已加入圈子' : (detail.isAdd == 1 ? '+ 未加入' : (detail.isAdd == 2 ? '待审核' : '我的圈子'))) }}</div>
        <!-- <div class="c">+ 加入圈子</div> -->
    </div>
    
</div>

<div class="appDoenInfo">
    <div class="logo"></div>
    <div class="text">
        <div class="a">
            <span>快存私有云</span>
            <div class="aimg">
                <s></s><s></s><s></s><s></s><s></s>(1.2万)
            </div>
        </div>
        <div class="b">
            <span>快存私有云</span>
        </div>
    </div>
    <div (click)="downloadApp()" class="btn">立即下载</div>
</div>
<div class="managementInfo2">
    <div class="managementInfo-btn">
        <div (click)="downloadApp()" class="a"><span></span>{{detail.comment_num}}</div>
        <div (click)="downloadApp()" class="b"><span></span>{{detail.give_num}}</div>
        <div (click)="downloadApp()" class="c"><span></span>{{detail.transfer_num}}</div>
    </div>
</div>

<div class="detailsContDiv">
    <!-- 评论 -->
    <ul class="detailsCont detailsContnoborder" style="display: none-;">
        <li>
            <div class="a"><img src="./assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b2">
                    <div class="pl">小小月月-昵称</div>
                    <div class="time">10-1 12:12</div>
                </div>
                <div class="b1">评论内容，视频很好，视频很好，视频很好，视频很好，视频很好，视频很好，视频很好，视频很好，视频很好。</div>
            </div>
        </li>
    </ul>
</div>
<div class="viewMore2">查看更多</div>

<!-- 相关推荐 -->
<div class="tuijianDiv">
    <div class="tuijianBT">
        相关推荐
    </div>
    <ul class="contDiv-list">
        <li *ngFor="let item of data | datafilteritem:detail.id;let i = index;">
            <!-- (click)="videoClick(item)"  -->
            <div class="contDiv-img">
                <!-- <img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" /> -->
                <video [poster]="item.video_image"  [src]="item.video_path" type="video/mp4" width="100%" playsinline  height="100%" controls  ></video>
                <!-- baseUrl + '/' + item.video_image ||  -->
                <span>{{item.video_len}}</span>
            </div>
            <div class="contDiv-text">
                <!-- (click)="headerClick(item)"  -->
                <div class="contDiv-text-left">
                    <img [src]="item.headimgurl || headImg" alt="">
                </div>
                <div class="contDiv-text-right">
                    <div class="t">{{item.title}}</div>
                    <div class="c">
                        <p>{{item.name}}·{{item.create_time | formattime}} <!--<span>圈主</span>--></p>
                        <p class="d">{{item.comment_num || 0}}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div (click)="startApp()" class="ggbtn"></div>
