<loading [isshow]="loading"></loading>

<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>

<addcircle (addSuccess)="addCircleSuccess()" (close)="closePop()" [addUid]="uid" [popShow]="addCircle"></addcircle>

<div class="authorInfo">
    <p class="a"><img [src]="detail?.data?.headimgurl || headImg" alt=""></p>
    <p class="b">{{detail?.data?.circleName}}的圈子</p>
    <div class="c">
        <p>资源 {{detail?.data?.resourceNum}}</p>
        <p>分享 {{detail?.data?.resourceNum}}</p>
        <p>下载 {{detail?.data?.downLoad}}</p>
    </div>
</div>

<!--系统精选账户-->
<div class="chuangjiantipsText pt70" *ngIf="isAdmin == 1">
    <p class="tibg imgb"></p>
    <p class="b mt20">暂无内容</p>
</div>

<!-- 没权限时 -->
<div class="tipsText" *ngIf="detail.status==-1">
    <!-- <p>申请加入查看他的精彩视频~</p> -->
    <p>未加入圈子暂无权限</p>
    <p (click)="addCircleBtn()">查看圈子内容</p>
    <!-- <div (click)="addCircleBtn()" class="tipsTextBtn"></div> -->
    <!-- 申请加入按钮 -->
</div>
<div class="tipsText" *ngIf="detail.status==-2">
    <p>作者审核中~</p>
    <!-- <div (click)="addCircleBtn()" class="tipsTextBtn"></div>申请加入按钮 -->
</div>

<div class="contDivOutside" *ngIf="detail.status==0 && isAdmin == 0">
    <div class="tab-list">
        <p>主页动态</p>
        <ul>
            <li (click)="changePage(1)" [class.on]="pageType==1">最新发布</li>
            <li (click)="changePage(2)" [class.on]="pageType==2">最多评论</li>
            <li (click)="changePage(3)" [class.on]="pageType==3">最多分享</li>
        </ul>
    </div>
    
    <author-now-list *ngIf="pageType==1"></author-now-list>
    <author-comment-list *ngIf="pageType==2"></author-comment-list>
    <author-share-list *ngIf="pageType==3"></author-share-list>
</div>


<!-- 退出圈子弹框 -->
<div class="pop-mask" *ngIf="quitPop">
    <div class="circleExitpop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                退出圈子
            </div>
            <div (click)="quitPop=false;" class="rbtn"></div>
        </div>
        <div class="circleExitpop-list">
                <label><input type="radio" [(ngModel)]="quitType" name="exit" value="1" >退出并删除圈子动态</label>
                <label><input type="radio" [(ngModel)]="quitType" name="exit" value="0" >退出但保留圈子动态</label>
        </div>
        <div class="circleExitpop-btn">
            <div (click)="quitPop=false;" class="a">再想想</div>
            <div (click)="quitEnter()" class="b">确定</div>
        </div>
    </div>
</div>