<!-- <loading [isshow]="loading"></loading> -->

<!-- 错误提示 -->
<div class="errorMessage" *ngIf="showTip">{{errorMsg}}</div>
<div class="topDiv hsbg">
    <div (click)="back()" class="topDiv-btnL"></div>
    签到
</div>
<div class="qiandao">
    <div class="qiandaoimg">
        <p>{{today}}</p>
    </div>
</div>
<!-- 没权限时 -->
<div class="signinOutside">
    <div (click)="gotoGold()" class="biaoti">我的金币：{{goldNum}}<span></span></div>
    <div class="biaotiinfo">已连续签到<span>{{singInDays}}</span>天</div>
    <ul class="qiandaoa_list">
        <!-- class="on" -->
        <li [class.on]="todaySignIn&&i==0" (click)="signDay(i)" *ngFor="let item of days;let i = index;">
            <div class="a">+{{item.num}}</div>
            <div class="b">{{item.name}}</div>
        </li>
        <!-- <li>
            <div class="a">+4</div>
            <div class="b">明天</div>
        </li>
        <li>
            <div class="a">+5</div>
            <div class="b">12.21</div>
        </li>
        <li>
            <div class="a">+6</div>
            <div class="b">12.22</div>
        </li>
        <li>
            <div class="a">+7</div>
            <div class="b">12.23</div>
        </li>
        <li>
            <div class="a">+7</div>
            <div class="b">12.24</div>
        </li>
        <li>
            <div class="a">+7</div>
            <div class="b">12.25</div>
        </li> -->
    </ul>
</div>