<loading [isshow]="loading"></loading>

<div *ngIf="showTip" class="tip_text">{{showMsg}}</div>

<div class="authorInfo">
    <p class="a"><img [src]="detail?.headimgurl || headImg" alt=""></p>
    <p (click)="editModel=true;" class="b">{{detail?.circleName}}的圈子<span></span></p>
    <div class="c">
        <p>资源 {{detail?.resourceNum}}</p>
        <p>分享 {{detail?.shareNum}}</p>
        <p>下载 {{detail?.downLoad}}</p>
    </div>
</div>

<div class="contDivOutside">
    <ul class="contTab myCircleTab">
        <li (click)="changePage(1)" [class.tabDivActive]="pageType==1" >基本信息</li>
        <li (click)="changePage(2)" [class.tabDivActive]="pageType==2" >播放列表</li>
        <li (click)="changePage(3)" [class.tabDivActive]="pageType==3" >历史发布</li>
        <li (click)="changePage(4)" [class.tabDivActive]="pageType==4" >加精申请</li>
    </ul>
    <myauthor-basic-info (drapUpEvent)="drapUpEvent()" [circleName]="detail.circleName" [friendNum]="detail.friendNum" [appleNum]="detail.appleNum" *ngIf="pageType==1"></myauthor-basic-info>
    <myauthor-play-list *ngIf="pageType==2"></myauthor-play-list>
    <myauthor-video-list *ngIf="pageType==3"></myauthor-video-list>
    <myauthor-apply-list *ngIf="pageType==4"></myauthor-apply-list>
</div>

<!-- 修改昵称弹框 -->
<div class="pop-mask" *ngIf="editModel" >
    <div class="editpop">
        <div class="det-sharepop-bt">
            <div class="ltext">
                修改昵称
            </div>
            <div class="rbtn" (click)="editModel=false;"></div>
        </div>
        <div class="forminput"><input type="text" [(ngModel)]="detail.circleName" placeholder="请输入2-16个字符的昵称"></div>
        <div class="choosepop-btn">
            <div class="a" (click)="editModel=false;">取消</div>
            <div class="b" (click)="updateCircleMine();">确定</div>
        </div>
    </div>
</div>

<!-- 
<div class="contDivOutside" style="display: none-;">
    <ul class="contTab">
        <li>视频</li>
        <li class="tabDivActive">播放列表</li>
    </ul>
    <div class="contDiv" style="display: none;">
        <ul class="contDiv-list">
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contDiv-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <span>10:20</span>
                </div>
                <div class="contDiv-text">
                    <div class="contDiv-text-left">
                        <img src="assets/images/headimg.png" alt="">
                    </div>
                    <div class="contDiv-text-right">
                        <div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
                        <div class="c">
                            <p>管理员·1小时前</p>
                            <p class="d">127</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contDiv" style="display: none-;">
        <ul class="bofanglist-list">
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
            <li>
                <div class="bofanglist-img">
                    <img src="assets/images/listimg.jpg" alt="">
                    <div class="a">
                        <span>320</span>
                        <i></i>
                    </div>
                </div>
                <div class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        晓晓私密圈
                    </div>
                    <div class="bofanglist-text-bottom">17视频</div>
                </div>
            </li>
        </ul>
    </div>
</div> -->
