<loading [isshow]="loading"></loading>

<div dropload [options]="2" (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
    <div class="circleQAlist">
        <ul>
            <li>
                <h4>1、什么是圈子？</h4>
                <p>圈子是ThinNAS为用户打造的全新概念的私密圈子文化。私密圈子文化是让大家在信息爆炸、公共社交的今天，能够让大家保留私密的社交，不用再担心发布、共享的信息给所有人，只让有共同爱好、共同兴趣、共同价值的圈内人一起分享，打造属于自己专属的私密圈子。</p>
            </li>
            <li>
                <h4>2、如何创建圈子？</h4>
                <p>要创建属于自己的圈子，首先您需要拥有一台属于自己的ThinNAS终端设备，并且将设备绑定在自己的账号下成为设备的管理员。</p>
                <p>当您绑定了一台ThinNAS终端设备成为管理员后，就可以在“我的圈子”模块里，点击“新建圈子”并且可以给圈子起一个属于您圈子的专属名字，以及设定圈子的特征，比如“运动”、“高清”、“下载”等属性特征，成为圈主。</p>
                <p>每绑定一台ThinNAS终端设备，就可以建立一个独特的圈子，如果绑定多台终端设备，即可建立同等数量的圈子。</p>
            </li>
            <li>
                <h4>3、如何加入圈子？</h4>
                <p>由于圈子文化打造的是属于自己的私密圈子，因此加入别人创建的圈子主要有以下两种方式：</p>
                <p>1）在精选区看到了其他圈子发布的资源，想加入对方的圈子，可以点击发布资源的圈子，向圈主发送加入申请，圈主审批后，将可以将您加入对方的圈子。</p>
                <p>2）圈主可以直接邀请您加入其创建的圈子，也可以由圈子里其他成员介绍入圈，但依然需要圈主通过审核才能加入圈子。</p>
            </li>
            <li>
                <h4>4、圈子有啥好玩的？</h4>
                <p>首先，私密圈子打造的是一个小范围的私密社交圈层，因此在私密圈发布的内容不必担心合规、敏感词汇等各种约束；</p>
                <p>其次，由于私密圈子中所有成员，都有共同爱好或兴趣，因此在圈子中发布的内容，均为圈中成员比较感兴趣的话题内容资源，更加能否有共同语言；</p>
                <p>第三，由于圈子的私密特点，您可以将圈子发展成为私域流量领地，在圈子进行知识传授、私密分享的一个工具。</p>
            </li>
        </ul>
        
    </div>
</div>