<loading [isshow]="loading"></loading>

<div dropload [options]="2" (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
    <div class="circleQAlist">
        <ul>
            <li>
                <h4>1、标题标题标题标</h4>
                <p>回答回答回答回答回答，回答回答回答回答回答回答回答回答回答回答回。答回答回答回答回答回答回答回答回答回答</p>
            </li>
            <li>
                <h4>1、标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                <p>回答回答回答回答回答，回答回答回答回答回答回答回答回答回答回答回。答回答回答回答回答回答回答回答回答回答</p>
            </li>
            <li>
                <h4>1、标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                <p>回答回答回答回答回答，回答回答回答回答回答回答回答回答回答回答回。答回答回答回答回答回答回答回答回答回答</p>
            </li>
        </ul>
        
    </div>
</div>