<!-- <loading [isshow]="loading"></loading> -->

<div class="contDiv" >
    <div class="chainLink">我的圈子 > <span>晓晓私密圈</span></div>
    <ul class="bofanglist-list video-list">
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！
                </div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！
                </div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    日出-愿你有一个美好的今日时光！生活中有一个治愈式的美好 时光！
                </div>
            </div>
        </li>
    </ul>
</div>