
<!-- <div *ngIf="showTip" class="tip_text">{{showMsg}}</div> -->

<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)">
    <div class="contDiv" style="padding-bottom: 0px;">
        <div (click)="showFolder()" class="chainLink">我的圈子 > <span>{{filesName}}</span></div>
        <ul class="bofanglist-list video-list history-list">
            <li (click)="videoClick(item)" *ngFor="let item of data;">
                <div class="bofanglist-img">
                    <img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
                </div>
                <div *ngIf="!item.isforward" class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        {{item.title}}
                    </div>
                </div>
                <div *ngIf="!!item.isforward" class="bofanglist-text">
                    <div class="bofanglist-text-top">
                        转发：{{item.forwardTitle}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>