<!-- <loading [isshow]="loading"></loading> -->

<self-play-list2 ></self-play-list2>
<div class="contDiv" *ngIf="0">
    <ul class="bofanglist-list">
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
        <li>
            <div class="bofanglist-img">
                <img src="assets/images/listimg.jpg" alt="">
                <div class="a">
                    <span>320</span>
                    <i></i>
                </div>
            </div>
            <div class="bofanglist-text">
                <div class="bofanglist-text-top">
                    晓晓私密圈
                </div>
                <div class="bofanglist-text-bottom">17视频</div>
            </div>
        </li>
    </ul>
</div>