
<!-- <loading [isshow]="loading"></loading> -->

<div *ngIf="noData" style="padding-bottom: 100px;" class="chuangjiantipsText" >
    <p class="tibg imga"></p>
    <p class="a">暂无视频</p>
    <p class="b">你还没有发布任何视频哦～</p>
</div>

<div dropload *ngIf="!noData" (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
    <div class="contDiv">
		<ul class="contDiv-list">
			<li *ngFor="let item of data;">
				<!-- <div (click)="videoClick(item)" class="contDiv-img">
					<img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
					<span>{{item.video_len}}</span>
				</div> -->
				<!-- <div class="contDiv-img-forwarding">
                    <div><img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" /></div>
                    <p>刘德华99红磡演唱会，至今公认华人最完美的演唱会！完整版奉上</p>
				</div> -->
				<!-- <div *ngIf="!item.isforward" (click)="videoClick(item)" class="contDiv-img">
					<img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
					<span>{{item.video_len}}</span>
				</div> -->

				<div *ngIf="!item.isforward" (click)="videoClick(item)" #imgdiv class="contDiv-img" style="background-image:url(./assets/images/default-img.png);" >
					<img #vimg style="width: 0px;height: 0px;" (load)="imgLoad(imgdiv,item.video_image)" [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" />
					<span>{{item.video_len}}</span>
				</div>

				<!-- <div *ngIf="!!item.isforward" (click)="videoClick(item)" class="contDiv-img-forwarding">
                    <div><img #vimg [src]="videoImg | imagelazyload:vimg:item.video_image" alt="" /></div>
                    <p>{{item.forwardTitle}}</p>
				</div> -->
				<div *ngIf="!!item.isforward" (click)="videoClick(item)" class="contDiv-img-forwarding" >
                    <div class="imgCont" >
						<div #imgdiv2 style="background-image:url(./assets/images/default-img.png);"></div>
						<img #vimg2 style="display: block;width: 0px;height: 0px;" (load)="imgLoad(imgdiv2,item.video_image)" [src]="videoImg | imagelazyload:vimg2:item.video_image" alt="" />
					</div>
                    <p>{{item.forwardTitle}}</p>
				</div>

				<div class="contDiv-text">
					<div class="contDiv-text-right">
						<div class="t">{{item.title}}</div>
						<div class="c">
							<div class="contDiv-text-left">
								<img [src]="item.headimgurl || headImg" alt="">
							</div>
							<div class="c_c">
                                <h4>{{item.name}}</h4>
                                <p>{{item.create_time | formattime}}</p>
							</div>
							<p (click)="videoClick(item)" class="d">{{item.comment_num || 0}}</p>
							<!-- <p>{{item.name}}·{{item.create_time | formattime}} </p> -->
							<!-- <p (click)="videoClick(item)" class="d">{{item.comment_num || 0}}</p> -->
						</div>
					</div>
				</div>

				<!-- <div class="contDiv-text">
					<div class="contDiv-text-left">
						<img [src]="item.headimgurl || headImg" alt="">
					</div>
					<div class="contDiv-text-right">
						<div class="t">{{item.title}}</div>
						<div class="c">
							<p>{{item.name}}·{{item.create_time | formattime}}</p>
							<p (click)="videoClick(item)" class="d">{{item.comment_num || 0}}</p>
						</div>
					</div>
				</div> -->
			</li>
		</ul>
	</div>
</div>
