<!-- <loading [isshow]="loading"></loading> -->

<!-- 错误提示 -->
<div class="errorMessage" *ngIf="showTip">{{errorMsg}}</div>
<div class="topDiv" style="position:fixed;top:0;left:0;width: 100%;">
    <div class="topDiv-btnL"></div>
    金币积分计划细则
</div>
<div class="circleQAlistA">
    <h5>一、金币积分计划简介</h5>
        <p>金币积分计划是口袋存储为用户使用口袋存储服务时，根据各类行为获得相应的金币奖励，可用于下载“发现”模块中各种视频，也可用于兑换金币商城中提供的丰富产品，获得超值回报！</p>
    <h5>二、金币积分规则</h5>
        <p>2.1金币积分开通规则</p>
        <p>目前只要注册成为口袋存储用户，即可参与口袋存储金币积分计划。</p>
        <p>2.2金币获取</p>
            <h4 class="c">注册奖励</h4>
            <p>每一个新注册用户，都可以获得新人奖励20个金币。</p>
            <h4 class="c">签到</h4>
            <p>每日只能签到1次。</p>
            <p>将APP更新到最新版本：</p>
            <p>用户首次签到获得1个金币，7日内连续签到，金币奖励每日递增1个金币；连续签满7日之后保持每日签到，每次可获取7个金币。</p>
            <img src="images/introduceImg/jbimg01.png" alt="">
            <p>用户在连续签到过程中漏签，则从签到获得1个金币开始记录。</p>
            <img src="images/introduceImg/jbimg02.png" alt="">
            <h4 class="c">分享文件奖励</h4>
            <p>用户将保存在自己存储空间的文件通过点对点分享的方式进行分享，每分享一次获得2个金币。</p>
            <p>注意：该规则每天上限奖励不超过30个金币。</p>
            <h4 class="c">推荐其他用户进行注册</h4>
            <p>用户通过转发链接发展的新注册用户，每推荐发展一个新注册用户可以获得拉新奖励200个金币。</p>
            <h4 class="c">推荐用户平台消费</h4>
            <p>用户通过转发链接发展的注册用户，如果注册用户在平台消费，则给予推荐的用户金币奖励，奖励金币数额根据消费金额而定，每1元=1金币。</p>
            <h4 class="c">新圈主奖励</h4>
            <p>用户自己已经拥有口袋存储硬件终端，并绑定终端成为设备管理员，平台则会为用户自动建立一个新圈子，并奖励500个金币。</p>
            <h4 class="c">发布圈子分享</h4>
            <p>用户可以在自己的圈子或者也可以在加入的别人的圈子发布分享，每发布一个资源则获得3个金币。</p>
            <p>注意：该规则每天上限奖励不超过45个金币。</p>
            <h4 class="c">加精奖励</h4>
            <p>用户在圈子发布的资源，可以申请加精，加精申请通过后会将资源发布到精选模块。加精成功，即可获得加精奖励20个金币。</p>
            <h4 class="c">其他用户下载圈子发布资源</h4>
            <p>用户在圈子发布的资源，可以设置下载该资源需要的金币数量，如果其他用户下载该资源，则会缴纳相对应的金币给到发布用户。</p>
        <p>2.3金币消耗</p>
        <p>1）兑换金币商城产品</p>
        <p>2）下载发现模块中视频资源</p>
    <h5>三、金币查询方式</h5>
    <p>进入“我的”模块，可以直接查看当前金币数量，点击可以键入金币积分详情页面浏览记录。</p>
</div>