<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" style="margin-bottom: 50px;">
    <div class="detailsContDiv">
        <!-- 点赞 -->
        <ul class="detailsCont detailsContDianzan">
            <li *ngFor="let item of data">
                <div class="a"><img [src]="item.headimgurl || headImg" alt="" /></div>
                <div class="b">
                    <div class="b1">{{item.circleName}}</div>
                    <div class="b2">
                        <div class="pl">点赞了此资源</div>
                        <div class="time">{{item.create_time}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>