<loading [isshow]="loading"></loading>

<!-- dropload [options]="2" (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" -->
<div style="background: #fff; padding: 1rem 0.4rem;">
    <div class="circleQAlistA" style="margin:0;">
        <p>要创建属于自己的圈子，首先您需要拥有一台属于自己的口袋存储终端设备，并且将设备绑定在自己的账号下成为设备的管理员。</p>
        <img src="assets/images/introduceImg/rhjlimg01.jpg" alt="">
        <img src="assets/images/introduceImg/rhjlimg02.jpg" alt="">
        <img src="assets/images/introduceImg/rhjlimg03.jpg" alt="">
        <p>当您绑定了一台口袋存储终端设备成为管理员后，系统后台会为您自动建立一个属于您的圈子。</p>
        <img src="assets/images/introduceImg/rhjlimg04.jpg" alt="">
        <p>您可以根据您的喜好给您的圈子起名，设置圈子的特征属性等。</p>
        <p>每绑定一台口袋存储终端设备，就可以建立一个独特的圈子，如果绑定多台终端设备，即可建立同等数量的圈子。</p>
    </div>
</div>