<loading [isshow]="loading"></loading>

<div style="background: #fff; padding: 1rem 0.4rem;">
    <div class="circleQAlistA" style="margin:0;">
    <p>圈子是口袋存储APP为用户打造的全新概念的私密圈子文化。私密圈子文化是在信息爆炸、公共社交的今天，能够让大家保留私密的社交。不用再担心发布、共享的信息给所有人，只让有共同爱好、共同兴趣、共同价值的圈内人一起分享，打造属于自己专属的私密圈子。</p>
    <p>现在的社交网络，让我们深深的暴露在了太多我们不熟悉的人、不熟悉的环境之下，更多时候已经不愿再发表内心真实的想法。</p>
    <img src="assets/images/introduceImg/smimg01.jpg" alt="">
    <p>其实高质量的社交永远是建立在相互有同等的认知、共同的经历、相同的爱好等基础之上，让真实的想法和交流回归到最舒适的状态。让我们回归到交流最舒适的状态吧，你准备好跟同道中人一起畅所欲言了吗？</p>
    <img src="assets/images/introduceImg/smimg02.jpg" alt="" width="50%">
</div>
</div>